<?xml version='1.0' encoding='utf-8'?>
<!--
    @author Johannes
    Hibernate mapping for User class
    Don't change without consulting author(s)
-->

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <property name="show_sql">
            false
        </property>

        <property name="connection.url">
            jdbc:mysql://localhost:3306/stork
        </property>

        <property name="hibernate.connection.username">
            servletUser
        </property>

        <property name="hibernate.connection.password">
            testPassword
        </property>

        <!-- XML mapping files -->
        <mapping resource="dk/stork/entities/User.hbm.xml"/>
        <mapping resource="dk/stork/entities/Group.hbm.xml"/>

    </session-factory>
</hibernate-configuration>